<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; {{ site.foot_org_name }} {{ site.cr_year }}
    </p>
  </div>
  <center>
      <br >
      <div class="icons-social">
          <a target="_blank" href="https://facebook.com/{{ site.Facebook }}" aria-label="Facebook"><i class="fab fa-facebook fa-3x" style="color:#FFFFFF" aria-hidden="true"></i></a>
          <b style="word-space:2em">&nbsp;&nbsp;</b>
          <a target="_blank" href="https://twitter.com/{{ site.Twitter }}" aria-label="Twitter"><i class="fab fa-twitter fa-3x" style="color:#FFFFFF" aria-hidden="true"></i></a>
          <b style="word-space:2em">&nbsp;&nbsp;</b>
          <a target="_blank" href="https://instagram.com/{{ site.Instagram }}" aria-label="Instagram"><i class="fab fa-instagram fa-3x" style="color:#FFFFFF" aria-hidden="true"></i></a>
      </div>
  </center>
  <!-- /.container -->
</footer>
